*{
	margin: 0;
  	padding: 0;
  	border: 0;
	z-index: 1;
}
html body 
{
	 width:  100%;
  	height: 100%;
  	margin: 0px;
}
nav
{
	position: absolute;
	width: 100%;
	height: 10%;
	background-color: orangered;
	
}
img#fondo
{
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100%;
	-o-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	opacity: 0.5;
}
img#fondo:hover
{
	opacity: 1;
}
div#contenido
{
	position: absolute;
	top: 75%;
	width: 100%;
	height: 500%;
	background-color: yellow;
}
div section#bannerG
{
	position: absolute;
	top:0%;
	width: 100%;
	height: 5%;
	background-color: fuchsia;
}

div section#aboutme
{
	position: absolute;
	margin-left: 5%;
	top:7%;
	width: 90%;
	height: 50%;
	background-color: black;
}

div section#bannerT
{
	position: absolute;
	top:59%;
	width: 100%;
	height: 10%;
	background-color: royalblue;
}