@font-face {
       font-family: 'COPILME';
       src:url('fonts/COPILME.ttf');

}

*{
	margin: 0;
  	padding: 0;
  	border: 0;
	z-index: 1;
}


html body 
{
	width:  100%;
  	height: 100%;
  	margin: 0px;
}
div#mainHead
{
	position: fixed;
	background-image: url("../img/4.jpg");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
div#mainHead img
{
	position: absolute;
	top: 20%;
	margin-left: 35%;
	width: 70%;
	height: 55%;
}
div#mainHead h1
{
	font-family: COPILME;
	font-size: 7em;
	color: white;
	font-weight: 400;
}
div#mainHead h3
{
	font-family: COPILME;
	font-size: 4em;
	color: white;
	font-weight: 400;
}
div section#bannerG
{
	background-image: url("../img/bannery.png");
	background-size: 100% 100%;
	position: absolute;
	top:0%;
	width: 100%;
	height: 5%;
	background-color: fuchsia;
	
}

div section#bannerG img
{
	position:absolute;
	left:22.5%;
	top: -15%;
}

div#contenido
{
	position: absolute;
	top: 75%;
	width: 100%;
	height: 500%;
	background-image: url("../img/7.jpg");
	background-size: 100% 100%;
}

div section#aboutme
{
	position: absolute;
	margin-left: 5%;
	top:7%;
	width: 90%;
	height: 50%;
	background-color: white;
}
/*estilo bloques de acerca de mi about me------*/
div section#aboutme div#parrafoUno 
{
	margin-left: 5%;
	margin-top:10%;
	position: absolute;
	width: 55%;
	height: 20%;
	background-color: red;
	text-align: left;
	font-size: 1.5em;
	
	
}
div section#aboutme  img
{
	margin-top: 10%;
	position: absolute;
	width: 30%;
	height: 20%;
	margin-left: 65%;
	
	
	
}
/*parrafo dos*/
div section#aboutme div#parrafoDos 
{
	margin-left: 40%;
	margin-top:40%;
	position: absolute;
	width: 55%;
	height: 20%;
	background-color: red;
	text-align: left;
	font-size: 1.5em;
	
	
}
div section#aboutme  img#imgDos
{
	margin-top: 40%;
	position: absolute;
	width: 30%;
	height: 20%;
	margin-left: 5%;

	
	
}

/*parrafo tres */

div section#aboutme div#parrafoTres 
{
	margin-left: 5%;
	margin-top:70%;
	position: absolute;
	width: 55%;
	height: 20%;
	background-color: red;
	text-align: left;
	font-size: 1.5em;
	
	
}
div section#aboutme  img#imgTres
{
	margin-top: 70%;
	position: absolute;
	width: 30%;
	height: 20%;
	margin-left: 65%;

	
	
}

/*imagenes tecnologias html*/

div section#bannerT
{
	position: absolute;
	top:59%;
	width: 100%;
	height: 10%;
	background-color: royalblue;
}


section#bannerT div#primeraFila
{
	width: 100%;
	height: 50%;
	background-color: green;
	margin-top: 0%;
	
}
section#bannerT div#primeraFila img
{
	width: 13%;
	height: 100%;
	margin-top: 0%;
	margin-left: 8%;
	
}

/*segunda fila*/
section#bannerT div#segundaFila
{
	width: 100%;
	height: 50%;
	background-color: coral;
	margin-top: 0%;
	
}
section#bannerT div#segundaFila img
{
	width: 13%;
	height: 100%;
	margin-top: 0%;
	margin-left: 8%;
	
}

